
// Landing page hero
.mdx-hero {
  box-sizing: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    max-width: 50%;
    order: 1;
  }

  &__content {
    padding: 5%;
    margin-top: -5%;
    a.md-button {
      min-width: 10vw;
      font-weight: normal;
      border: 0.5px solid;
      cursor: default;
      text-align: center;
      @media screen and (max-width: 48rem) {
        min-width: 35vw;
      }
    }
  }
}
