
// Landing page hero
.mdx-hero {
  box-sizing: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    max-width: 50%;
    order: 1;
  }

  &__content {
    padding: 5%;
    margin-top: -5%;
  }
}
